/* Apply box-sizing: border-box to all elements for consistent sizing */
* {
  box-sizing: border-box;
}
/* Set global font and remove default margin for the body */
body {
  font-family: Arial;
  margin: 0;
}
/* Style the header with padding, centered text, background color, and text color */
header {
  padding: 40px;
  text-align: center;
  background: #13293d; 
  color: #fff;  
}

/* 
What happens when we set the display property to flex? 
The navigation tags will flow vertically.
*/

/* Style the navigation bar with a flexbox layout and background color */

nav {
  display: flex;
  background-color: #d8a47f; 
}

/* Style the navigation links */
nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 

Flex-wrap means set to wrap and the content is wrapping.
*/

/* Main content area with flexbox layout that wraps child elements */
main {
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar section with flexible width, background color, padding, and centered text */
aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}

/* Footer section with padding, centered text, background color, and text color */
footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 

The justify-content property does the alignment along the main axis.
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 

The flex property sets how a flex item will grow or shrink to fit the space available in its flex container. It shrinks cards here.
*/

/* Style for product cards with border, padding, and fixed width */
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

/* Padding for the header inside the product cards */
.card header {
  padding: 20px;
}

/* Center-align text within paragraphs inside the product cards */
.card p {
  text-align: center;
}

/* Set the image to take up 100% width of the card */
.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here? 

The flex-direction property sets how flex items are placed in the flex container defining the main axis and the direction. All items display in a column here.
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
