/* Styling for the section element with a background color */
section {
    background-color: rgb(226, 229, 217);
}

/* Styling for the header element with a specific text color */
header {
    color: rgb(39, 10, 201);
}

/* Styling for the email list item with a background color */
#email {
    background-color: rgb(165, 147, 42);
}

/* Styling for the GitHub list item with a background color */
#github {
    background-color: yellowgreen
}

/* Styling for the Google list item with a background color */
#google {
    background-color: rgb(204, 94, 50);
}